<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.p.modules.portal.module.mapper.NmsLikesRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xx.p.modules.portal.module.entity.NmsLikesRecord">
        <id column="id" property="id" />
        <result column="news_id" property="newsId" />
        <result column="member_id" property="memberId" />
        <result column="nick_name" property="nickName" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
